.header__logo img {
    margin-bottom: -3px;
    height: 2rem;
}

.title{
    color: #3f3f3f;
    width: 100%;
    justify-content: center ;
    display: flex;
    padding-top:1.5rem ;
    
}
.title h2{
    /* font-family: 'lato'; */
    font-size: 2.4rem;
   
}